@charset "UTF-8";
#tab li{
margin-top:69px;
margin-left:3px;
width:33%;
height:63px;
float: left;
background-color: rgb(217,217,217);
}
#tab li a{
display: block;
padding-top: 14px;
height:63px;
color: #fff;
font-size: 1.3em;
font-weight: bolder;
}
#tab li em{
font-weight: bolder;
}
.h3title{
	margin-bottom: 30px;
}
.selected{
background-color: #fff;
border-top: 2px solid #1f4bb4;
color: #1f4bb4;
}
.selected>em{
color: #1f4bb4;
font-weight: bolder;
}
#alldiv th{
height: 60px;
text-align: left;
}
#alldiv td{
height: 50px;
border-bottom: dashed 1px #ccc;
text-align: left;
}
#alldiv td span{
	font-size:0.9em;
	padding-top:2px;
	margin-right: 7px;
	color:#fff;
	background-color: #00c73c;
	border-radius: 6px;
}
#questiondiv th{
height: 60px;
text-align: left;
}
#questiondiv td{
height: 50px;
border-bottom: dashed 1px #ccc;
text-align: left;
}
#questiondiv td span{
	font-size:0.9em;
	padding-top:2px;
	margin-right: 7px;
	color:#fff;
	background-color: #00c73c;
	border-radius: 6px;
}
#answerdiv th{
height: 60px;
text-align: left;
}
#answerdiv td{
height: 50px;
border-bottom: dashed 1px #ccc;
text-align: left;
}
#answerdiv td span{
	font-size:0.9em;
	padding-top:2px;
	margin-right: 7px;
	color:#fff;
	background-color: #00c73c;
	border-radius: 6px;
}
.titlediv{
margin: 80px 0 20px 30px;
font-size: 10px;
}
.titlediv span:nth-child(1) {
font-size: 2em;font-weight: bold; margin-right: 15px;
}
.titlediv span:nth-child(2) {
font-size: 2.5em;font-weight: bold;
}
.contentdiv{
width: 972.4px;
margin-left: 30px;
}
.buttondiv{
width: 972.4px;
margin:30px 0 0 30px;
}
.selectbtn{
float: right;
}
#selected{
width:140px;
	padding:10px;
	margin:20px;
	color:#fff;
	background-color: #1f4bb4;
	}
.list_table{
border-top: 1px solid black;
}
.list_table th {
background-color:#f4f5f8;
padding:22px 38px;
text-align: left;
border-bottom:1px solid #d9d9d9;
}
.list_table td {
padding-left:20px;
border-bottom:1px solid #d9d9d9;
height: 60px;
}